nav .container-fluid{
	margin-left: 130px;
}

div.col-md-2{
    margin-left: 80px;
}

.datatableSide{
	width: 900px;
	height: 600px;
}

.datatableSide table{
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0px !important;
	display: table;
	table-layout:fixed;
}

table th,td{
	padding: 0px;
	margin: 0px;
	border: 1px solid #BEBFD3;  
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}