.modal {
    top: 60px;
    z-index: 10000000!important;
    position: fixed!important;
}

.modal-backdrop {
    z-index: 99
}

.modal-content {
    border: none;
    border-radius: 5px;
    padding: 0;
}

.modal-header {
    background: #6d7582;
    padding: 0 12px 0 16px;
    border: none;
    border-radius: 0px;
    color: #fff;
    height: 48px;
    line-height: 48px;
    position: relative;
    top: 0;
    margin: 0;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
}

.modal-header h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
}

button.close {
    width: 20px;
    line-height: 20px;
    height: 19px;
    opacity: 1;
    margin-top: 13px!important;
    background: url(../../images/close.png) no-repeat center center;
    background-size: 15px 15px;
    outline: none;
    z-index: 999;
}

.modal-body .msCon {
    color: #333;
    font-size: 16px;
    position: relative;
}

.modal-body .msCon i {
    color: #c90000 !important;
    left: 20px;
    top: 2px;
    font-size: 18px;
    padding-right: 10px;
    float: left;
}

.modal-body .msCon label {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    max-width: 90%;
    word-break: break-all;
}

.modal-footer {
    text-align: center;
    border: none;
}

.modalBtn,
.modalBtn:hover,
.modalBtn:focus {
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #788da3;
    border-radius: 30px;
    color: #fff;
    outline: none;
}

.modal-backdrop {
    background-color: #666;
}

.icon-notification {
    color: #c90000 !important;
    font-size: 18px;
    padding-right: 10px;
}

.messege {
    font-size: 16px;
}


/* 涓婁紶鏂囦欢鎸夐挳鏍峰紡閲嶇疆 */

.fileForm {
    margin: 30px auto;
    overflow: hidden;
}

.fileForm label {
    white-space: nowrap;
    float: left;
    display: inline-block;
    font-weight: normal;
    margin-left: 25px;
    width: 70px;
    margin-top: 5px;
}

.impFile {
    width: 220px !important;
    float: left;
    clear: none;
    height: 30px;
    border: 1px dotted #ccc !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    word-break: initial;
}

.btn-choose {
    float: left;
    width: 80px;
    -webkit-border-radius: 0 5px 5px 0 !important;
    border-radius: 0 5px 5px 0 !important;
}